body {
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;     
        background-color: #290883;
        text-align: center;
        margin-top: 225px;
        font-size: 1em;
}

#covered {
        margin-top: 50px;
}

#script {
        font-size: 1.5em;
}

#button {
        background-color: #b83bdf;
        color: #ffffff;
        border-radius: 4px;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px;
        font-size: 2em;
}

button:visited {
        background-color: rgba(205, 7, 223, 0.808);
        color:cornflowerblue;
}

button:hover {
        background-color: cornflowerblue;
        color:darkblue;
}